
.panel-default .panel-heading {
    color: #fff;
}

.text-default {
    color: #3FA0C9;
}

.progress-bar-success {
    background-color: #43926A;
}

/*#d9534f" red
  #43926A" green
  #3FA0C9" blue */